body{
    color:rgb(32, 32, 32);
    margin: 0;
    padding: 0;
}
.container{
    width: 1000px;
    margin: 0 auto;
}
.overflow{
    overflow: auto;
}
li{
    margin: 20px 0;
}
a{
    text-decoration: none;
    font-size: 20px;
}
summary{
    margin: 20px 0;
    font-size: 25px;
    outline: none;
}